.DS_Store
semantic.cache
bin/

*.tmp
*.tmp.obo
*.tmp.owl
*.tmp.json

.github/token.txt

src/ontology/mirror
src/ontology/mirror/*
src/ontology/reports/*
!src/ontology/reports/release-diff.md
src/ontology/geospr.owl
src/ontology/geospr.obo
src/ontology/geospr.json
src/ontology/geospr-base.*
src/ontology/geospr-basic.*
src/ontology/geospr-full.*
src/ontology/geospr-simple.*
src/ontology/geospr-simple-non-classified.*
src/ontology/geospr-edit.properties

src/ontology/seed.txt
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/ontologyterms.txt
src/ontology/simple_seed.txt
src/ontology/patterns
src/ontology/merged-geospr-edit.owl

src/ontology/target/
src/ontology/tmp/*
!src/ontology/tmp/.gitkeep
!src/ontology/tmp/README.md

src/ontology/run.sh.conf
src/ontology/run.sh.env

src/ontology/imports/*_terms_combined.txt

src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/pattern_owl_seed.txt
src/patterns/all_pattern_terms.txt